{% extends 'base.html' %}


{% block views %}

<table id='customers'>
  <tr>
    <th>Name</th>
    <th>type</th>
</tr>

<tr>  <td>Aplus</td><td> {{Aplus}} </td>   </tr>
<tr>  <td>Aminus</td> <td>  {{Aminus}} </td> </tr>
<tr>  <td>Bplus</td> <td> {{Bplus}} </td> </tr>
<tr>  <td>Bminus</td><td> {{Bminus}}</td>    </tr>
<tr>  <td>Oplus</td> <td> {{Oplus}}  </td> </tr>
<tr>  <td>Ominus</td> <td> {{Ominus}}</td>   </tr>
<tr>  <td>ABplus</td> <td> {{ABplus}}  </td> </tr>
<tr>  <td>ABminsu</td> <td> {{ABminsu}} </td> </tr>
<tr> <td>total</td> <td> {{total}}  </td> </tr>

  
</table>


{% endblock views %}
    